@page
@model razor_pages.Pages.noParameters.MultiPaymentModel
@{
    ViewData["Title"] = "Multi payment";
}
<div class="row">
    <div class="col">
        <h1>Configuration</h1>
        <p>Use the credentials provided by your bank to configure this form</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <div class="mb-3">

            </div>
        </form>
    </div>
</div>