@page "{amount}"
@model web.Pages.Payment.SingleModel
@{
    ViewData["Title"] = "Single payment";
}
<div class="row">
    <div class="col">
        <h1>Try it out now ! Make a payment</h1>
        <form method="post" action="@Model.PaymentUrl">
            @foreach (var paymentParameters in Model.PaymentForm)
            {
                <input type="hidden" value="@paymentParameters.Value" name="@paymentParameters.Key" />
            }
            <button class="btn btn-primary" type="submit">Payer</button>
        </form>
    </div>
</div>