@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is just an example of hosted payment operated by Lyra. No personal data is collected during the time you're running this demo</p>